<% unless @stripe_card.errors.count == 0 %>
  <div id="error_explanation">
    <i class="fa fa-times"></i>
    <h2><%= pluralize(@stripe_card.errors.count, "error") %> prohibited the from from being submitted:</h2>
    <ul>
      <% @stripe_card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="title">
  <h1>Billing ~ Payment Method</h1>
</div>

<div class="outer-container">
  <%= render partial: "#{params[:resource_name]}/sidebar" %>

  <div class="page">
    <fieldset>
      <legend>Select Payment Method</legend>

      <%= render partial: "subscription_plans/subscription_plan", locals: { subscription_plan: @subscription.plan, url: edit_subscriber_subscription_payment_method_path }  %>

      <table class="default">
        <thead>
          <tr>
            <th>Select</th>
            <th>Credit Card</th>
            <th>Expiration</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <% if @stripe_cards.count > 0 %>
            <% @stripe_cards.each do |stripe_card| %>
              <tr<%== @subscription.payment_method == stripe_card ? ' class="selected"' : '' %>>
                <td>
                  <% if @subscription.payment_method == stripe_card %>
                    <span><i class="fa fa-check"></i></span>
                  <% else %>
                    <%= link_to subscriber_subscription_path(subscription: { payment_method_id: stripe_card.id, payment_method_type: stripe_card.class.to_s }), method: :put, data: { confirm: "Change the subscription's payment method to use #{stripe_card.display_name}?" } do %>
                      <i class="fa fa-check"></i>
                    <% end %>
                  <% end %>
                </td>
                <td><%= stripe_card.display_name %></td>
                <td>
                  <%= stripe_card.expiration_date %>
                </td>
                <td>
                  <% if @subscription.payment_method == stripe_card %>
                    <span>Active</span>
                  <% else %>
                    <%= link_to subscriber_payment_method_path(id: stripe_card), method: :delete, data: { confirm: "Are you sure you want to delete #{stripe_card.display_name}?" } do %>
                      <i class="fa fa-minus-circle"></i>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="4">Your account doesn&#8217;t have any payment methods.</td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <% if can? :create, @stripe_card %>
        <%= form_for @stripe_card, url: subscriber_payment_methods_path do |f| %>
          <%= f.hidden_field :stripe_card_id %>
          <%= f.hidden_field :stripe_token %>
          <%= f.hidden_field :brand %>
          <%= f.hidden_field :last4 %>
          <%= f.hidden_field :exp_month %>
          <%= f.hidden_field :exp_year %>
          <%= f.submit "New Card" %>
        <% end %>
      <% end %>
    </fieldset>
  </div>
</div>

<% content_for :scripts do %>
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <script>
    var stripeHandler = StripeCheckout.configure({
      key: '<%= ENV["STRIPE_PUBLISHABLE_KEY"] %>',
      allowRememberMe: false,

      token: function(token) {
        $('#stripe_card_stripe_card_id').val(token.card.id);
        $('#stripe_card_stripe_token').val(token.id);
        $('#stripe_card_brand').val(token.card.brand);
        $('#stripe_card_last4').val(token.card.last4);
        $('#stripe_card_exp_month').val(token.card.exp_month);
        $('#stripe_card_exp_year').val(token.card.exp_year);
        $('form').submit();
      }
    });

    $('form').submit(function(event) {
      if ($('#stripe_card_stripe_card_id').val().length > 0) {
        return true;
      }

      stripeHandler.open({
        name:        '<%= site_title %>',
        image:       '<%= image_path("logo.png") %>',
        description: 'New Payment Method',
        panelLabel:  'Add Card',
        email:       '<%= current_user.email %>'
      });
      return false;
    });
  </script>
<% end %>
