<div class="available-brews">
  <% @brews.each do |brew| %>
    <div class="brew <%= brew.slug %>" data-name="<%= brew.name %>" data-slug="<%= brew.slug %>">
      <div class="name">
        <%= brew.name %>
      </div>
      <div class="details">
        <%= link_to "More Details", "#" %>
      </div>
      <a href="#" class="add-to-queue">
        Add to Queue
      </a>
    </div>
  <% end %>
</div>

<div class="brew-queue">
  <div class="getting-started">
    Get started by adding brews you’d like to receive for the next couple months.
  </div>

  <div class="empty-queue">
    If your queue is ever empty, don’t worry! We’ll select a brew for you
    that we know you’ll love based on your previous ratings.
  </div>
</div>

<% content_for :scripts do %>
  <script>
    $(document).ready(function () {
      $('.brew .add-to-queue').click(function () {
        var brew = $(this).parent();

        $('.getting-started').remove();
        $('.brew-queue').prepend('<div class="brew ' + brew.data('slug') + '">' + brew.data('name') + '</div>')
      });
    });
  </script>
<% end %>
