<% unless @omni_auth_provider.errors.count == 0 %>
  <div id="error_explanation">
    <i class="fa fa-times"></i>
    <h2><%= pluralize(@omni_auth_provider.errors.count, "error") %> prohibited the account from being connected:</h2>
    <ul>
      <% @omni_auth_provider.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="title">
  <h1>Codeship</h1>
</div>

<div class="outer-container">
  <%= render partial: "users/sidebar" %>

  <div class="page">
    <fieldset>
      <legend>Connect Your Codeship Account</legend>

      <p class="instructions">
        You can obtain an API Key by logging in to
        <%= link_to "codeship.io", "https://codeship.io", target: "_blank" %>.
      </p>

      <%= form_for @omni_auth_provider, url: subscriber_omni_auth_providers_path(resource_name: "users", subscriber_id: current_user.id) do |f| %>
        <%= f.hidden_field :name %>
        <div>
          <%= f.label :access_token, "API Key" %><br>
          <%= f.text_field :access_token %>
        </div>

        <div class="submit">
          <%= f.submit "Connect Account" %>
        </div>
      <% end %>
    </fieldset>
  </div>
</div>
