<% unless @contact_message.errors.count == 0 %>
  <div id="error_explanation">
    <i class="fa fa-times"></i>
    <h2><%= pluralize(@contact_message.errors.count, "error") %> prohibited this form from being sent:</h2>
    <ul>
      <% @contact_message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="title">
  <h1>Contact Us</h1>
</div>

<div class="outer-container">
  <%= form_for @contact_message do |f| %>
    <div class="logo">
      <i class="fa fa-comments"></i>
    </div>

    <div class="contact-info">
      <div>
        <%= f.label :name, class: "required" %>
        <%= f.text_field :name, autofocus: true %>
      </div>

      <div>
        <%= f.label :email, "Email Address", class: "required" %>
        <%= f.text_field :email %>
      </div>

      <div>
        <%= f.label :phone_number, "Phone Number" %>
        <%= f.text_field :phone_number %>
      </div>
    </div>

    <div class="message">
      <%= f.label :message, class: "required" %>
      <%= f.text_area :message %>
    </div>

    <div class="submit">
      <%= f.submit "Submit" %>
    </div>
  <% end %>

</div>
