<div class="title">
  <h1>Billing ~ Change Plan</h1>
</div>

<div class="outer-container">
  <%= render partial: "#{params[:resource_name]}/sidebar" %>

  <div class="page">
    <fieldset>
      <legend>Select a New Plan</legend>

      <% @subscription_plans.each do |subscription_plan| %>
        <%= render partial: "subscription_plans/subscription_plan", locals: { subscription_plan: subscription_plan, url: "#" }  %>
      <% end %>

      <p class="message">
        &nbsp;<br>&nbsp;
      </p>

      <%= form_for @subscription, url: subscriber_subscription_path do |f| %>
        <%= hidden_field_tag "current_subscription_plan_id", @current_subscription ? @current_subscription.id : nil %>
        <%= f.hidden_field :subscription_plan_id %>
        <%= f.submit "Update Plan" %>
      <% end %>
    </fieldset>
  </div>
</div>

<% content_for :head do %>
  <% if @current_subscription && !@current_subscription.trialing? && !@current_subscription.plan.free? %>
    <%# Hide the trial info when the current subscription is active and paid %>
    <style>
      .trial {
        height: 0;
        margin-bottom: 1.6em;
        visibility: hidden;
      }
    </style>
  <% elsif @current_subscription && @current_subscription.plan.free? %>
    <% if current_user.created_at < Time.now - @subscription_plans.order(trial_period_days: :desc).first.trial_length %>
      <%# Hide the trial info when the user isn't currently paying, but has been a user longer than the trial period %>
      <style>
        .trial {
          height: 0;
          margin-bottom: 1.6em;
          visibility: hidden;
        }
      </style>
    <% end %>
  <% end %>
<% end %>

<% content_for :scripts do %>
  <script>
    App.subscriptionPlanSelect(<%== @current_subscription ? {
      status:             @current_subscription.status,
      currentPeriodStart: @current_subscription.current_period_start,
      currentPeriodEnd:   @current_subscription.current_period_end,
      plan: {
        id:               @current_subscription.plan.id,
        priceCents:       @current_subscription.plan.price_cents,
        interval:         @current_subscription.plan.interval,
        intervalCount:    @current_subscription.plan.interval_count,
        trialPeriodDays:  @current_subscription.plan.trial_period_days
      }
    }.to_json : "null" %>, <%== @subscription_plans.map{|subscription_plan|
      {
        id:               subscription_plan.id,
        priceCents:       subscription_plan.price_cents,
        interval:         subscription_plan.interval,
        intervalCount:    subscription_plan.interval_count,
        trialPeriodDays:  subscription_plan.trial_period_days,
        upgradeMessage:   upgrade_message(@current_subscription, subscription_plan)
      }
    }.to_json %>);
  </script>
<% end %>
