<div class="sidebar organizations">
  <ul>
    <li class="title">
      <%= link_to current_user.display_name, edit_user_path(current_user) %>
    </li>
    <% current_user.organizations.ordered_by_name.each do |organization| %>
      <% if can? :update, organization %>
        <li class="organization<%= @subscriber == organization ? " selected" : "" %>">
          <%= link_to organization.name, edit_organization_path(organization) %>
        </li>

        <% if @subscriber == organization %>

          <% if can? :update, organization %>
            <li class="account-settings<%= current_page?(edit_organization_path(organization)) ? " active" : "" %>">
              <%= link_to "Organization Account", edit_organization_path(organization) %>
            </li>
          <% end %>

          <% if can? :update, organization.current_subscription %>
            <li class="billing<%= current_page?(edit_subscriber_subscription_path(subscriber_params)) ? " active" : "" %>">
              <%= link_to "Billing", edit_subscriber_subscription_path(subscriber_params) %>
            </li>
          <% end %>

          <% if can? :manage, organization.memberships.first %>
            <li class="users<%= current_page?(subscriber_organization_memberships_path(subscriber_params)) ? " active" : "" %>">
              <%= link_to "Users", subscriber_organization_memberships_path(subscriber_params) %>
            </li>
          <% end %>

        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>
