<div class="title">
  <h1>Organizations</h1>
</div>

<div class="outer-container">
  <%= render partial: "users/sidebar" %>

  <div class="page">
    <% if @organization_memberships.count > 0 %>
      <table class="default">
        <thead>
          <tr>
            <th>Name</th>
            <th>Role</th>
            <th>Manage</th>
          </tr>
        </thead>
        <tbody>
          <% @organization_memberships.each do |membership| %>
            <tr>
              <td><%= membership.organization.name %></td>
              <td><%= membership.role.titleize %></td>
              <td>Transfer/Leave</td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <p>
        <%= link_to "New Organization", new_organization_path, class: "button" %>
      </p>
    <% else %>
      <fieldset>
        <legend>Create Your First Organization</legend>
        <p>
          Organizations allow you to manage multiple user accounts under one subscription plan.
        </p>

        <div>
          <%= link_to "Get Started", new_organization_path, class: "button" %>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>
