<% unless @organization.errors.count == 0 %>
  <div id="error_explanation">
    <i class="fa fa-times"></i>
    <h2><%= pluralize(@organization.errors.count, "error") %> prohibited the organization from being created:</h2>
    <ul>
      <% @organization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="title">
  <h1>New Organization</h1>
</div>

<div class="outer-container">
  <%= render partial: "users/sidebar" %>

  <div class="page">
    <%= form_for @organization do |f| %>
      <fieldset>
        <legend>Organization Account</legend>

        <div>
          <%= f.label :name, "Organization Name" %><br>
          <%= f.text_field :name, autofocus: true %>
        </div>
      </fieldset>

      <fieldset>
        <legend>Select a Plan</legend>

        <% @subscription_plans.each do |subscription_plan| %>
          <%= render partial: "subscription_plans/subscription_plan", locals: { subscription_plan: subscription_plan, url: "#" }  %>
        <% end %>
      </fieldset>

      <div class="submit">
        <%= f.hidden_field :subscription_plan_id %>
        <%= f.submit "Create Organization" %>
      </div>
    <% end %>
  </div>
</div>

<% content_for :scripts do %>
  <script>
    <% organization = params[:organization] || {} %>
    <% subscription_plan_id = organization[:subscription_plan_id] %>
    App.newOrganizationSubscriptionPlanSelect(<%== @subscription_plans.to_json %>, <%= subscription_plan_id.blank? ? "null" : subscription_plan_id %>);
  </script>
<% end %>
