<div class="title">
  <h1>Users</h1>
</div>

<div class="outer-container">
  <%= render partial: "#{params[:resource_name]}/sidebar" %>

  <div class="page">
    <% if @organization_memberships.count > 0 %>
      <table class="default">
        <thead>
          <tr>
            <th>Name</th>
            <th class="role">Role</th>
            <th class="actions">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @organization_memberships.each do |membership| %>
            <tr>
              <td><%= membership.user.display_name %></td>
              <td><%= membership.role.titleize %></td>
              <td>
                <% if can? :update, membership %>
                  <%= link_to edit_subscriber_organization_membership_path(subscriber_params.merge(id: membership.id)), class: "button" do %>
                    <% if membership.user == current_user %>
                      View
                    <% else %>
                      Edit
                    <% end %>
                  <% end %>
                <% end %>

                <% if membership.user == current_user %>
                  <span class="button destroy">Remove</span>
                <% else %>

                  <% if can? :destroy, membership %>
                    <%= link_to subscriber_organization_membership_path(subscriber_params.merge(id: membership.id)), class: "button destroy", method: :delete, data: { confirm: "Are you sure you want to remove #{membership.user.display_name} from #{membership.organization.display_name}?"} do %>
                      Remove
                    <% end %>
                  <% end %>

                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>
        Create an organization so you can include other users under
        a single account.
      </p>
    <% end %>

    <% if can? :create, OrganizationMembership.new(organization: @organization) %>
      <p>
        <%= link_to "New User", new_subscriber_organization_membership_path, class: "button" %>
      </p>
    <% end %>
  </div>
</div>
