<% unless @organization_membership.errors.count == 0 %>
  <div id="error_explanation">
    <i class="fa fa-times"></i>
    <h2><%= pluralize(@organization_membership.errors.count, "error") %> prohibited the form from being submitted:</h2>
    <ul>
      <% @organization_membership.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="title">
  <h1>New User</h1>
</div>

<div class="outer-container">
  <%= render partial: "#{params[:resource_name]}/sidebar" %>

  <div class="page">
    <fieldset>
      <legend>Invite a New User</legend>

      <%= form_for @organization_membership, url: subscriber_organization_memberships_path do |f| %>
        <%= f.fields_for :user do |user_form| %>
          <div>
            <%= user_form.label :email, "Email Address" %><br>
            <%= user_form.text_field :email %>
          </div>
        <% end %>

        <div>
          <%= f.label :role, "User Role" %><br>
          <%= f.select :role, OrganizationMembership.selectable_roles, selected: @organization_membership.role || :member %>
        </div>

        <div>
          <%= f.submit "Invite New User" %>
        </div>
      <% end %>
    </fieldset>
  </div>
</div>
